p {
    color:blueviolet;
}

body {
    background-color: black;
    color: rgb(222, 231, 140);
}

table {
    border: 2px solid rgb(222, 231, 140); /* Cambia el tipo de borde de la tabla */
    border-collapse: collapse; /* Opcional: colapsa los bordes de la tabla */
}

th, td {
    border: 1px solid rgb(222, 231, 140); /* Cambia el tipo de borde de las celdas */
    padding: 8px; /* Opcional: agrega espacio dentro de las celdas */
}